<!--TODO 01 show code with a lot of bootstrap clases-->
<!--TODO 02 Goto Chat GPT and create a component from the repeated code-->
<!--TODO 03 comment al dirty code and uncomment the code of the components-->
<div class="container mt-5">
  <div class="card mx-auto mb-4 g-col-6 col" style="max-width: 20rem;">
    <div class="card-header bg-primary text-white">
      Información del Usuario
    </div>
    <div class="card-body bg-light">
      <h5 class="card-title
    text-center">Adrían Vaquero</h5>
      <p class="card-text text-muted text-center">Desarrollador Full-stack</p>
      <a href="#" class="btn btn-success d-block mx-auto mt-3">Ver Perfil</a>
    </div>
  </div>

  <div class="card mx-auto mb-4" style="max-width: 20rem;">
    <div class="card-header bg-primary text-white">
      Información del Usuario
    </div>
    <div class="card-body bg-light">
      <h5 class="card-title text-center">Javier Jimenez</h5>
      <p class="card-text text-muted text-center">Desarrollador Front-end</p>
      <a href="#" class="btn btn-success d-block mx-auto mt-3">Ver Perfil</a>
    </div>
  </div>

  <div class="card mx-auto mb-4" style="max-width: 20rem;">
    <div class="card-header bg-primary text-white">
      Información del Usuario
    </div>
    <div class="card-body bg-light">
      <h5 class="card-title
      text-center">Sibille Metzler</h5>
      <p class="card-text text-muted text-center">Desarrollador Front-end</p>
      <a href="#" class="btn btn-success d-block mx-auto mt-3">Ver Perfil</a>
    </div>
  </div>

  <div class="card mx-auto mb-4" style="max-width: 20rem;">
    <div class="card-header bg-primary text-white">
      Información del Usuario
    </div>
    <div class="card-body bg-light">
      <h5 class="card-title
      text-center">Oscar Jorge Castillo</h5>
      <p class="card-text text-muted text-center">Desarrollador Full-stack</p>
      <a href="#" class="btn btn-success d-block mx-auto mt-3">Ver Perfil</a>
    </div>
  </div>

  <div class="card mx-auto mb-4" style="max-width: 20rem;">
    <div class="card-header bg-primary text-white">
      Información del Usuario
    </div>
    <div class="card-body bg-light">
      <h5 class="card-title
      text-center">Aaron Rodriguez</h5>
      <p class="card-text text-muted text-center">Desarrollador Full-stack</p>
      <a href="#" class="btn btn-success d-block mx-auto mt-3">Ver Perfil</a>
    </div>
  </div>

<!--  <app-user-info userName="Adrían Vaquero" userRole="Desarrollador Full-stack"></app-user-info>-->
<!--  <app-user-info userName="Javier Jimenez" userRole="Desarrollador Front-end"></app-user-info>-->
<!--  <app-user-info userName="Sibille Metzler" userRole="Desarrollador Front-end"></app-user-info>-->
<!--  <app-user-info userName="Oscar Jorge Castillo" userRole="Desarrollador Full-stack"></app-user-info>-->
<!--  <app-user-info userName="Aaron Rodriguez" userRole="Desarrollador Full-stack"></app-user-info>-->

</div>

