:host {
  display: flex;
  width: 100%;
  flex-direction: column;

 /* --color-error: blue;*/
 /* --mat-form-field-error-text-color: var(--color-error);*/
 /* --mdc-filled-text-field-error-label-text-color: var(--color-error);*/
 /* --mdc-filled-text-field-error-active-indicator-color: var(--color-error);*/
 /* --mdc-filled-text-field-error-hover-label-text-color: var(--color-error);*/
 /* --mdc-outlined-text-field-error-hover-outline-color: var(--color-error);*/

 /* --mdc-filled-text-field-error-focus-active-indicator-color: var(--color-error);*/
 /* --mdc-filled-text-field-error-hover-active-indicator-color: var(--color-error);*/

 /* --mdc-outlined-text-field-error-label-text-color: var(--color-error);*/
 /* --mdc-outlined-text-field-error-hover-label-text-color: var(--color-error);*/
 /* --mdc-outlined-text-field-error-focus-outline-color: var(--color-error);*/
 /* --mdc-filled-text-field-error-focus-label-text-color: var(--color-error);*/

 /* --mdc-filled-text-field-error-caret-color:var(--color-error);*/

 /* --mdc-filled-text-field-container-color: rgba(0, 0, 255, 0.43);*/

 /*--mdc-filled-text-field-input-text-color: white; */
}
